$white: #fff;
$black: #303030;
$orange: #f28832;
$yellow: #ff9017;
$turquoise: #00bdb7;
$lh: 1.25;
$fzMain: 1.6rem;
$default-primary-base-color: #f26323;
$default-primary-dark-color: #d1490c;
$default-primary-light-color: #f69e77;
$default-secondary-base-color: #eee;
$default-secondary-dark-color: #929292;
$default-secondary-light-color: #f8f8f8;
$grey: #e4e4e4;
$noActive: #cecbcb;
$font-muli:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
$font-standard-size: 62.5%;